div {
     display: flex;
     justify-content: center;   
}
h1 {
    text-align: center;
}
input {
    margin: 10px auto;
}
button {
    margin-top: 20px;
}
table {
    width: 100%;
    padding: 20px 10%;
}